<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreStack.Localization.Test.Hosting</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <netcorestack-javascriptregistrar></netcorestack-javascriptregistrar>
    <netcorestack-languageSelector-scripts></netcorestack-languageSelector-scripts>

    @RenderSection("Styles", required: false)

</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" title="@Localizer["Logo Description"]" class="navbar-brand mr-auto ml-lg-3">Logo</a>

            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>
                <div class="form-inline my-2 my-lg-0"></div>
                <netcorestack-languageSelector name="culture" set-cookie-with-java-script="true"></netcorestack-languageSelector>
            </div>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <div class="container">

            <nav class="nav nav-underline">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Forms">@Localizer["Forms"]</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">@Localizer["About"]</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Api">Component Api</a>

                <a class="nav-link pl-5" asp-area="" asp-controller="Home" asp-action="CustomException">Exception Localization</a>
                <a class="nav-link" id="ajaxException" href="#">Ajax Exception Localization</a>



            </nav>
        </div>
    </div>

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <div class="lh-100">
                <h6 class="mb-2 text-white lh-100">Localization</h6>
                <small>@Localizer["Logo Description"]</small>
            </div>
        </div>

        <div class="">

            @RenderBody()

        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <nav class="nav nav-underline">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="showmetheculture">Show Me The Culture</a>
                <a class="nav-link">|</a>
                <a class="nav-link" asp-area="" asp-controller="NetCoreStackLocalization" asp-action="showmetheculture">Show Me The Culture On Component</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Api">Component Api</a>
            </nav>
            <span class="text-muted small ml-lg-3">@Html.Raw(Localizer["Copyright", "NetCoreStack.Localization"])</span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false);

    <script>
        (function ($) {
            var defaultOptions = {
                validClass: 'is-valid',
                errorClass: 'is-invalid',
                highlight: function (element, errorClass, validClass) {
                    $(element)
                        .removeClass(validClass)
                        .addClass(errorClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element)
                        .removeClass(errorClass)
                        .addClass(validClass);
                }
            };

            $.validator.setDefaults(defaultOptions);

            $.validator.unobtrusive.options = {
                errorClass: defaultOptions.errorClass,
                validClass: defaultOptions.validClass,
            };

            window.showMessage = function (state, message) {

                if (state == "danger") { //Toastr fix
                    state = "error";
                }
                toastr[state](message);
            };

            window.ajaxResultNotify = function (args) {
                var options = $.extend({}, args);
                if (args.resultState != "success") {
                    if ($.isArray(args.validations) && args.validations.length > 0) {
                        options.content = "";
                        _.each(args.validations, function (item) {
                            options.content += item.messages.join() + '<br/>';
                        });
                    }
                }

                if (!options.resultState) {
                    return;
                }

                var positionClass = "";
                if (options.position && options.position.startsWith("toast")) {
                    positionClass = options.position;
                }
                else {
                    positionClass = "toast-" + options.position;
                }

                var properties = $.extend({}, options.properties, { positionClass: positionClass });
                toastr[options.resultState](options.content, options.title, properties);
            };

            window.exceptionResult = function (dataResult) {
                if (typeof dataResult == undefined || dataResult == null) {
                    throw "dataResult undefined || null";
                }

                if (dataResult.resultState == "success") {
                    if ((typeof dataResult.redirectUrl != undefined) && dataResult.redirectUrl.length > 0) {
                        window.location.href = dataResult.redirectUrl;
                        return;
                    }

                    showMessage(1, dataResult.content);
                }
                else {
                    ajaxResultNotify(dataResult);
                }
            };

            $("#ajaxException").click(function (e) {
                $.ajax({
                    type: "GET",
                    url: "/Home/CustomAjaxException",
                    dataType: "json",
                    success: function (response) {
                        window.exceptionResult(response);
                    },
                    error: function (request, status, error) {
                        window.showMessage("error", error);
                    }
                });
                e.preventDefault();

            });
        })(jQuery);
    </script>

</body>
</html>
