<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreStack.Localization.Test.Hosting</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <netcorestack-javascriptregistrar></netcorestack-javascriptregistrar>
    <netcorestack-languageSelector-scripts></netcorestack-languageSelector-scripts>

    @RenderSection("Styles", required: false)

</head>
<body class="bg-light small">

    <div class="container-fluid bg-dark border-bottom box-shadow">

        <div class="container d-flex flex-column flex-md-row align-items-center p-2 px-md-3 mb-0">
            <a asp-area="" asp-controller="Home" asp-action="Index" title="@Localizer["Logo_Description"]" class="navbar-brand my-0 mr-md-auto text-white font-weight-normal">NetCoreStack.Localization</a>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light" href="https://twitter.com/_tipek"><i class="fab fa-twitter mr-1"></i>Twitter</a>
                <a class="p-2 text-light" href="https://github.com/tahaipek"><i class="fab fa-github mr-1"></i>Github</a>
            </nav>
            <netcorestack-languageSelector name="culture" set-cookie-with-java-script="true"></netcorestack-languageSelector>
        </div>
    </div>



    <main role="main" class="container">

        <div class="row">
            <div class="col-3">
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6>@Localizer["HowToUse"]</h6>
                    <nav class="nav flex-column">
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Menu_Home"]</a>
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="Forms">@Localizer["Menu_Forms"]</a>
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="Api">@Localizer["Menu_Component_Api"]</a>
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="ClientSideLocalization">@Localizer["Menu_ClientSideLocalization"]</a>
                    </nav>
                    <hr />
                    <h6>@Localizer["Exception Handler"]</h6>
                    <nav class="nav flex-column">
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="CustomException">@Localizer["Menu_ExceptionLocalization"]</a>
                        <a class="nav-link p-1" id="ajaxException" href="#">@Localizer["Menu_AjaxExceptionLocalization"]</a>
                    </nav>
                </div>

                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6>@Localizer["Sample Pages"]</h6>
                    <hr />
                    <nav class="nav flex-column">
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="About">@Localizer["Menu_About"]</a>
                        <a class="nav-link p-1" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Menu_Contact"]</a>
                    </nav>
                </div>
            </div>
            <div class="col-9">
                <div class="container">
                    <div class="alert alert-info mt-3">@Html.Raw(Localizer["HasNoEquivalentInOtherLanguages"])</div>
                    @RenderBody()
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <nav class="nav nav-underline">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="showmetheculture">Show Me The Culture</a>
                <a class="nav-link">|</a>
                <a class="nav-link" asp-area="" asp-controller="NetCoreStackLocalization" asp-action="showmetheculture">Show Me The Culture On Component</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Api">Component Api</a>
            </nav>
            <span class="text-muted small ml-lg-3">@Html.Raw(Localizer["Copyright", DateTime.Now.Year.ToString(), "NetCoreStack.Localization"])</span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false);

    <script>
        (function ($) {
            var defaultOptions = {
                validClass: 'is-valid',
                errorClass: 'is-invalid',
                highlight: function (element, errorClass, validClass) {
                    $(element)
                        .removeClass(validClass)
                        .addClass(errorClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element)
                        .removeClass(errorClass)
                        .addClass(validClass);
                }
            };

            $.validator.setDefaults(defaultOptions);

            $.validator.unobtrusive.options = {
                errorClass: defaultOptions.errorClass,
                validClass: defaultOptions.validClass,
            };

            window.showMessage = function (state, message) {

                if (state == "danger") { //Toastr fix
                    state = "error";
                }
                toastr[state](message);
            };

            window.ajaxResultNotify = function (args) {
                var options = $.extend({}, args);
                if (args.resultState != "success") {
                    if ($.isArray(args.validations) && args.validations.length > 0) {
                        options.content = "";
                        _.each(args.validations, function (item) {
                            options.content += item.messages.join() + '<br/>';
                        });
                    }
                }

                if (!options.resultState) {
                    return;
                }

                var positionClass = "";
                if (options.position && options.position.startsWith("toast")) {
                    positionClass = options.position;
                }
                else {
                    positionClass = "toast-" + options.position;
                }

                var properties = $.extend({}, options.properties, { positionClass: positionClass });
                toastr[options.resultState](options.content, options.title, properties);
            };

            window.exceptionResult = function (dataResult) {
                if (typeof dataResult == undefined || dataResult == null) {
                    throw "dataResult undefined || null";
                }

                if (dataResult.resultState == "success") {
                    if ((typeof dataResult.redirectUrl != undefined) && dataResult.redirectUrl.length > 0) {
                        window.location.href = dataResult.redirectUrl;
                        return;
                    }

                    showMessage(1, dataResult.content);
                }
                else {
                    ajaxResultNotify(dataResult);
                }
            };

            $("#ajaxException").click(function (e) {
                $.ajax({
                    type: "GET",
                    url: "/Home/CustomAjaxException",
                    dataType: "json",
                    success: function (response) {
                        window.exceptionResult(response);
                    },
                    error: function (request, status, error) {
                        window.showMessage("error", error);
                    }
                });
                e.preventDefault();

            });
        })(jQuery);
    </script>

</body>
</html>
