@using System
@using System.Globalization
@{
    ViewData["Title"] = @Localizer["Menu_Home"];
}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <div class="lh-100">
        <h6 class="mb-2 text-white lh-100">Localization</h6>
        <small>@Localizer["Logo_Description"]</small>
    </div>
</div>


<div class="my-3 p-3 bg-white rounded box-shadow">

    <h1>@Localizer["Hello"]</h1>
    <hr />

    <table class="table table-sm table-striped">
        <tbody>
            <tr><th>Winning provider:</th><td>@CultureInfo.CurrentCulture.Name</td></tr>
            <tr><th>@Localizer["Current request culture:"]</th><td>@CultureInfo.CurrentCulture.DisplayName (@CultureInfo.CurrentCulture.Name)</td></tr>
            <tr><th>@Localizer["Current request UI culture:"]</th><td>@CultureInfo.CurrentUICulture.DisplayName (@CultureInfo.CurrentUICulture.Name)</td></tr>
            <tr><th>@Localizer["Current thread culture:"]</th><td>@CultureInfo.DefaultThreadCurrentCulture?.DisplayName (@CultureInfo.CurrentCulture.Name)</td></tr>
            <tr><th>@Localizer["Current thread UI culture:"]</th><td>@CultureInfo.DefaultThreadCurrentUICulture?.DisplayName (@CultureInfo.CurrentUICulture.Name)</td></tr>
            <tr><th>@Localizer["Current date (invariant full):"]</th><td>@DateTime.Now.ToString("F", CultureInfo.InvariantCulture)</td></tr>
            <tr><th>@Localizer["Current date (invariant):"]</th><td>@DateTime.Now.ToString(CultureInfo.InvariantCulture)</td></tr>
            <tr><th>@Localizer["Current date (request full):"]</th><td>@DateTime.Now.ToString("F")</td></tr>
            <tr><th>@Localizer["Current date (request):"]</th><td>@DateTime.Now.ToString()</td></tr>
            <tr><th>@Localizer["Current time (invariant):"]</th><td>@DateTime.Now.ToString("T", CultureInfo.InvariantCulture)</td></tr>
            <tr><th>@Localizer["Current time (request):"]</th><td>@DateTime.Now.ToString("T")</td></tr>
            <tr><th>@Localizer["Big number (invariant):"]</th><td>@((Math.Pow(2, 42) + 0.42).ToString("N", CultureInfo.InvariantCulture))</td></tr>
            <tr><th>@Localizer["Big number (request):"]</th><td>@((Math.Pow(2, 42) + 0.42).ToString("N"))</td></tr>
            <tr><th>@Localizer["Big number negative (invariant):"]</th><td>@((-Math.Pow(2, 42) + 0.42).ToString("N", CultureInfo.InvariantCulture))</td></tr>
            <tr><th>@Localizer["Big number negative (request):"]</th><td>@((-Math.Pow(2, 42) + 0.42).ToString("N"))</td></tr>
            <tr><th>@Localizer["Money (invariant):"]</th><td>@((2199.50).ToString("C", CultureInfo.InvariantCulture))</td></tr>
            <tr><th>@Localizer["Money (request):"]</th><td>@((2199.50).ToString("C"))</td></tr>
            <tr><th>@Localizer["Money negative (invariant):"]</th><td>@((-2199.50).ToString("C", CultureInfo.InvariantCulture))</td></tr>
            <tr><th>@Localizer["Money negative (request):"]</th><td>@((-2199.50).ToString("C"))</td></tr>
        </tbody>
    </table>

</div>
